@model BookingApplication.Domain.DTO.ReservationBookingListDTO
@using Microsoft.Extensions.Options
@inject IOptions<BookingApplication.Domain.Domain.StripeSettings> Stripe

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px">
        @for(int i = 0; i<Model.Reservations.Count; i++)
        {
            var item = Model.Reservations[i];

            <div class="card">
                <h1 class="card-header text-center">@item.Reservation?.Apartment?.ApartmentName</h1>
                <p class="card-text">Check in date: @item.Reservation?.Check_in_date</p>
                <p class="card-text">Number of nights: @item.Number_of_nights</p>
                <form asp-action="RemoveReservation" asp-controller="Reservations" asp-route-id="@item.Id" method="post" style="text-align:center">
                    <button type="submit" class="btn btn-danger">Remove reservation</button>
                </form>
            </div>
        }
        
    </div>

    <h4 style="margin-top: 50px">Total price: @Model.TotalPrice $</h4>
    <div class="row m-4">
        @if (Model.TotalPrice != 0)
        {
            <form asp-controller="BookingLists" asp-action="PayBooking" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="EShop Application Payment"
                            data-amount="@(Model.TotalPrice * 100)"
                            data-label="Pay $@Model.TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>
</div>